<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584547380711-16ehlv48avfdn09vkk10mbs5oau3cavh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584547380711-16ehlv48avfdn09vkk10mbs5oau3cavh</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ-smF3lhJxjl4QFFEmJBo8c0JQGesM_0</string>
	<key>GCM_SENDER_ID</key>
	<string>584547380711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicolas.Churlets-Point</string>
	<key>PROJECT_ID</key>
	<string>churlets-points</string>
	<key>STORAGE_BUCKET</key>
	<string>churlets-points.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584547380711:ios:1d8e90525fbffe090ce142</string>
</dict>
</plist>